# **Question 2**

**(a) Given a news article with the following text content, extract and display the sentences found in
the article.**

In [1]:
%%capture
!pip install lxml
!pip install beautifulsoup4

In [2]:
import re
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
text = """
<p>SINGAPORE, 23 November 2021: Scoot joins other Singapore and\nKuala Lumpur-based
airlines flying the Vaccinated Travel Lane by announcing a\nfour-times-weekly service starting 29
November.</p>\n\n\n\n<p>Scoot&#8217;s designated VTL flights, TR472/TR473
between\nSingapore, Changi Airport and KL, KLIA2, will be operated by Scoot&#8217;s Boeing
787\nDreamliners, promising the added widebody comfort in both economy and
ScootPlus\ncabins.</p>\n\n\n\n<div class=\"wp-block-image\"><figure
class=\"aligncenter\"><img src=\"https://www.ttrweekly.com/site/wpcontent/uploads/2018/11/scoot-600x400.jpg\" alt=\"\" class=\"wp-image-152230\"
srcset=\"https://www.ttrweekly.com/site/wp-content/uploads/2018/11/scoot-600x400.jpg 600w,
https://www.ttrweekly.com/site/wp-content/uploads/2018/11/scoot-300x200.jpg 300w,
https://www.ttrweekly.com/site/wp-content/uploads/2018/11/scoot-768x512.jpg 768w,
https://www.ttrweekly.com/site/wp-content/uploads/2018/11/scoot-696x464.jpg 696w,
https://www.ttrweekly.com/site/wp-content/uploads/2018/11/scoot-1068x712.jpg 1068w, 
https://www.ttrweekly.com/site/wp-content/uploads/2018/11/scoot-630x420.jpg 630w,
https://www.ttrweekly.com/site/wp-content/uploads/2018/11/scoot.jpg 1536w\" sizes=\"(maxwidth: 600px) 100vw, 600px\" /></figure></div>\n\n\n\n<p>Scoot will also be operating seven
non-designated VTL\nflights between Singapore and Kuala Lumpur on Scoot&#8217;s Airbus A320
aircraft to\nprovide for transit passengers connecting to and from Scoot&#8217;s network
via\nSingapore.</p>\n\n\n\n<p>In addition, Scoot is planning to resume flights to
Langkawi\nfrom 3 December as part of the island&#8217;s air travel bubble arrangement,
providing\nquarantine-free travel to foreign visitors, subject to each
country&#8217;s\nrequirements.</p>\n\n\n\n<p>From early December, the airline will increase
flights to\nIpoh from the current five-times weekly to daily and add a third frequency
to\nKuching, subject to regulatory approvals. Scoot currently also operates daily\nservices
between Singapore and Penang.</p>\n\n\n\n<p>The commencement of VTL flights between
Singapore and KL\nadds to Scoot\u2019s existing VTL routes between Singapore and Australia,
Berlin,\nSouth Korea, and effective 6 December 2021, Jeddah. </p>\n\n\n\n<p>Travellers should
always check prevailing eligibility and\nentry requirements to Singapore and Malaysia before
booking VTL flights.</p>
"""

In [4]:
result = BeautifulSoup(text, 'lxml').text
result = re.sub(r"\n", " ", result)
print(result)

SINGAPORE, 23 November 2021: Scoot joins other Singapore and Kuala Lumpur-based airlines flying the Vaccinated Travel Lane by announcing a four-times-weekly service starting 29 November. Scoot’s designated VTL flights, TR472/TR473 between Singapore, Changi Airport and KL, KLIA2, will be operated by Scoot’s Boeing 787 Dreamliners, promising the added widebody comfort in both economy and ScootPlus cabins.  Scoot will also be operating seven non-designated VTL flights between Singapore and Kuala Lumpur on Scoot’s Airbus A320 aircraft to provide for transit passengers connecting to and from Scoot’s network via Singapore. In addition, Scoot is planning to resume flights to Langkawi from 3 December as part of the island’s air travel bubble arrangement, providing quarantine-free travel to foreign visitors, subject to each country’s requirements. From early December, the airline will increase flights to Ipoh from the current five-times weekly to daily and add a third frequency to Kuching, subject to regulatory approvals. Scoot currently also operates daily services between Singapore and Penang. The commencement of VTL flights between Singapore and KL adds to Scoot’s existing VTL routes between Singapore and Australia, Berlin, South Korea, and effective 6 December 2021, Jeddah.  Travellers should always check prevailing eligibility and entry requirements to Singapore and Malaysia before booking VTL flights.

**(b) Use any NLP library such as spaCy or NLTK to extract locations mentioned in the above article.**

In [5]:
import spacy

In [6]:
NER = spacy.load("en_core_web_sm")

In [7]:
def ner_with_label(word):
    return (word.text, word.label_, word.start_char)

def named_entity_recognization_text(text):
    text_spacy = NER(text)
    ner_word = map(ner_with_label, text_spacy.ents)
    return list(ner_word)

ori_ner_text_result = named_entity_recognization_text(result)

In [8]:
accepted_entities = ["GPE", "LOC"]
ner_text_result = [(i[0], i[2]) for i in ori_ner_text_result if i[1] in accepted_entities]

d2 = {'locations': [i[0] for i in ner_text_result], 'index': [i[1] for i in ner_text_result]}
df2 = pd.DataFrame(data=d2)

df2

       locations  index
0      SINGAPORE      0
1      Singapore     47
2   Kuala Lumpur     61
3      Singapore    239
4      Singapore    478
5   Kuala Lumpur    492
6      Singapore    614
7           Ipoh    909
8      Singapore   1082
9         Penang   1096
10     Singapore   1144
11     Singapore   1205
12     Australia   1219
13        Berlin   1230
14   South Korea   1238
15        Jeddah   1282
16     Singapore   1371
17      Malaysia   1385

**(c) Calculate the precision, recall, and F1 score for location extraction in (b)**

In this case, we assume that there are only 2 classes, which are 'location' and 'non-location'. 

*   True Positive cases belong to the words/phrases that are correctly identified as 'location';
*   False Positive cases belong to the words/phrases that are incorrectly identified as 'location';
*   True Negative cases belong to the words/phrases that are correctly identified as 'non-location';
*   False Negative cases belong to the words/phrases that are incorrectly identified as 'non-location'

In [9]:
# ground truth consists of the locations that human can detect an the respective indices
ground_truth = [
    ("SINGAPORE", 0),
    ("Singapore", 239),
    ("Changi Airport", 250),
    ("KL", 269),
    ("KLIA2", 273),
    ("Singapore", 478),
    ("Kuala Lumpur",492),
    ("Singapore", 614),
    ("Langkawi", 677),
    ("Ipoh", 909),
    ("Kuching", 987),
    ("Singapore", 1082),
    ("Penang", 1096),
    ("Singapore", 1144),
    ("KL", 1158),
    ("Singapore", 1205),
    ("Australia", 1219),
    ("Berlin", 1230),
    ("South Korea", 1238),
    ("Jeddah", 1282),
    ("Singapore", 1371),
    ("Malaysia", 1385)
]

In [10]:
accepted_entities = ["GPE", "LOC"]
final_ner_text_result = [(i[0], i[2], i[1] in accepted_entities) for i in ori_ner_text_result]
ground_truth_indices = [i[1] for i in ground_truth]

d3 = {'text/phrase': [i[0] for i in final_ner_text_result], 
      'index': [i[1] for i in final_ner_text_result], 
      'predicted class': ['Location' if i[2] else 'Non-location' for i in final_ner_text_result],
      'ground truth': ['Location' if i[1] in ground_truth_indices else 'Non-location' for i in final_ner_text_result]
      }
df3 = pd.DataFrame(data=d3)

df3

                   text/phrase  index predicted class  ground truth
0                    SINGAPORE      0        Location      Location
1             23 November 2021     11    Non-location  Non-location
2                    Singapore     47        Location  Non-location
3                 Kuala Lumpur     61        Location  Non-location
4   the Vaccinated Travel Lane     96    Non-location  Non-location
5                         four    139    Non-location  Non-location
6                  29 November    174    Non-location  Non-location
7                        Scoot    187    Non-location  Non-location
8                          VTL    206    Non-location  Non-location
9                  TR472/TR473    219    Non-location  Non-location
10                   Singapore    239        Location      Location
11              Changi Airport    250    Non-location      Location
12                          KL    269    Non-location      Location
13                       KLIA2    273    Non-location      Location
14                       Scoot    300    Non-location  Non-location
15                      Boeing    308    Non-location  Non-location
16             787 Dreamliners    315    Non-location  Non-location
17                       Scoot    408    Non-location  Non-location
18                       seven    437    Non-location  Non-location
19                         VTL    458    Non-location  Non-location
20                   Singapore    478        Location      Location
21                Kuala Lumpur    492        Location      Location
22                      Airbus    516    Non-location  Non-location
23                        A320    523    Non-location  Non-location
24                       Scoot    594    Non-location  Non-location
25                   Singapore    614        Location      Location
26                       Scoot    638    Non-location  Non-location
27                    Langkawi    677    Non-location      Location
28                  3 December    691    Non-location  Non-location
29              early December    856    Non-location  Non-location
30                        Ipoh    909        Location      Location
31                        five    931    Non-location  Non-location
32                      weekly    942    Non-location  Non-location
33                       daily    952    Non-location  Non-location
34                       third    968    Non-location  Non-location
35                     Kuching    987    Non-location      Location
36                       daily   1059    Non-location  Non-location
37                   Singapore   1082        Location      Location
38                      Penang   1096        Location      Location
39                         VTL   1124    Non-location  Non-location
40                   Singapore   1144        Location      Location
41                          KL   1158    Non-location      Location
42                       Scoot   1169    Non-location  Non-location
43                         VTL   1186    Non-location  Non-location
44                   Singapore   1205        Location      Location
45                   Australia   1219        Location      Location
46                      Berlin   1230        Location      Location
47                 South Korea   1238        Location      Location
48            6 December 2021,   1265    Non-location  Non-location
49                      Jeddah   1282        Location      Location
50                  Travellers   1291    Non-location  Non-location
51                   Singapore   1371        Location      Location
52                    Malaysia   1385        Location      Location
53                         VTL   1409    Non-location  Non-location

*   Precision = (True Positive) / (False Positive + True Positive)
*   Recall = (True Positive) / (True Positive + False Negative)
*   F1 score = (2 * Precision * Recall) / (Precision + Recall)

In [11]:
predicted_locations_indices = [i[1] for i in ner_text_result]

In [12]:
TP = len([i for i in final_ner_text_result if i[1] in ground_truth_indices])
FP = len([i for i in final_ner_text_result if i[2] and i[1] not in ground_truth_indices])
TN = len([i for i in final_ner_text_result if not i[2] and i[1] not in ground_truth_indices])
FN = len([i for i in ground_truth if i[1] not in predicted_locations_indices])

In [13]:
precision = TP / (FP + TP)
recall = TP / (TP + FN)
f1_score = (2*precision*recall)/(precision+recall)

In [14]:
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1 Score: {f1_score:.2f}")

Precision: 0.92
Recall: 0.79
F1 Score: 0.85